.u-center-text {
  text-align: center;
}

.u-margin-bottom-medium {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: $default-font-size;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}
